@import url(/imports/app.css);

header{
    background: #F0A83E;
    width: 100%;
    z-index: 100;
    padding: 1rem;
    position:fixed;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__logo{
    width: 20rem;
    
}
.menu__items{
    display:flex;
    margin-right: 6.25rem;
    gap: 1rem;
}

.menu__items li{
    display:flex;
    
    gap: .2rem;
}

.btn__menu{
    margin-right: 2.5rem;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

ul.show{
    left: 0;
}

.patita{
    width: 1rem;
}
.container{
    position: relative;
    
}

.container__img{
    display: block;
    
    max-width: 100%;
    
}

.container__text{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    
}

.container__text h1{
    background: #fff;
    color: #3C2313;
    width: 30rem;
    padding: 1rem 0;
    text-align: center;
    margin-right: 1rem;
    border-radius: .3rem;
    font-size: 1.875rem;
    text-transform: uppercase;
}

.container__text h2{
    margin-right: 10rem;
    color: #3C2313;
}

.container__btn{
    
    padding: 1.2rem 1rem;
    background: #F0A83E;
    font-weight: bold;
    text-transform: Uppercase;
    border-radius: 0.3125rem;
    cursor: pointer;
    margin-right: 11.5rem;
}


.productos__patita{
    width: 4.68rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.productos h2{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

.productos__texto{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1.2rem;
    gap: 1rem;
}

.productos__img{
    padding-top: 4rem;
}

.card{
    width: 18.75rem;
    background: #FBFAF6;
    height: 350px;
}

.card__img{
    width: 100%;
    height: 300px;
    background-size: cover;
    
}

.productos__flex{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card__text{
    text-align: center;
    font-weight: bold;
}
.card__text--yellow{
    color: #F0A83E;
    
}

.form__container{
    display: grid;
    width: 90%;
    max-width: 450px;
    margin: auto;
    grid-auto-columns: 100%;
    gap: 1rem;
}

.form__title{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 1.56rem;
    font-weight: bold;
}

.form__input{
    background: #3C2313;
    color: #fff;
    padding: 1rem;
    border-radius: .9rem;
}

.form__input::placeholder{
    color: #fff;
    font-size: .56rem;
}

.form__button{
    display: flex ;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.form__btn--reset{
    background: #8A8787;
    border-radius: .9rem;
    width: 100px;
    font-weight: bold;
    color: #fff;
    padding: .5rem;
    cursor: pointer;
}

.form__btn--enviar{
    font-weight: bold;
    color: #fff;
    background: #F0A83E;
    border-radius: .9rem;
    width: 100px;
    padding: .5rem;
    cursor: pointer;
}


.suscribe{
    background: #F0A83E;
    margin-top: 5rem;
    padding: .6rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.suscribe__text{
    display: flex;
    align-items: center;
    gap:1rem;
}
.suscribe__text img{
    width: 3rem;
    margin-left: 1rem;
}

.suscribe__text p{
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
}

.suscribe__input{
    background: #fff;
    color: #000;
    padding: 1rem;
    width: 350px;
    border-radius: .9rem;
}

.suscribe__button{
    background: #3C2313;
    color: #fff;
    padding: .8rem;
    border-radius: .9rem;
    margin-left: .5rem;
    margin-right: 5rem;
}

.lugar{
    display: flex;
    justify-content: space-around;
    background: #3C2313;
    align-items: center;
    padding-bottom:1rem;
}
.lugar__info{
    display: flex;
    flex-direction: column;
    gap:1rem;
    
}


.lugar__icons--location,
.lugar__icons--phone{
    width: 10rem;
}

.lugar__icons--correo{
    width: 14rem;
}

@media screen and (max-width:1000px){
    .container__text{
        top:2rem;
    }
}

@media screen and (max-width:935px){
    .suscribe{
        justify-content: center;
    }
    .suscribe__form{
        padding-left: 10rem;
    }
}

@media screen and (max-height:924px) {
    .container img{
        height: 600px;
    }
}


@media screen and (max-width:800px){
    .productos__flex{
        gap: 1rem;
    }
    .container__text{
        top:3rem;
    }
}

@media screen and (max-width:860px){
    .menu__logo{
        width: 15rem;
    }
}

@media screen and (max-width:860px){
    .menu__logo{
        width: 15rem;
    }
}

@media screen and (max-width:800px){
    .menu__items {
        margin-right: 2rem;
    }
}


@media screen and (max-width:760px){
    .container__text h1{
        font-size: 1.2rem;
        width: 25rem;
    }
    .container__text h2{
        margin-right: 7rem;
    }
    .container__btn{
        margin-right: 8.5rem;
    }
    

}

@media screen and (max-width:750px){
    .menu__items {
        gap: .5rem;
    }
    .container__text{
        top:2rem;
    }
}

@media screen and (max-width:712px){
    .suscribe__form{
        padding-left: 3rem;
    }
}

@media screen and (max-width:705px) {
    .container img{
        height: 600px;
    }
}
@media screen and (max-width:699px){
    
    .menu__logo{
        width: 10rem;
    }
}

@media screen and (max-width:616px){
    .menu__logo{
        width: 10rem;
    }
    .menu__items{
        font-size: .8rem;
    }
}

@media screen and (max-width:600px){
    .suscribe__input{
        width: 300px;
    }
    .suscribe__button{
        padding: .5rem;
    }
}

@media screen and (max-width:560px){
    .menu__items {
        font-size: .7rem;
    }
    .menu__logo{
        width: 8rem;
    }
    .suscribe__input{
        width: 250px;
    }
}



@media screen  and (max-width:500px){
    
    header{
        padding: .7rem;
    }
    .menu__logo{
        width: 10rem;
    }
    
    .btn__menu{
        display: inline-block;
    }
    .menu__items{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #393E46;
        top: 45px;
        left: -100%;
        
        transition: all .4s;
        z-index: 200;
        flex-direction: column;
    }


    .menu__items li{
        margin: 30px 0 0 0;
        line-height: 30px;
        justify-content: center;
        
    }
    .patita{
        display: none;
    }
    .menu__items li a{
        color: #fff;
    }
    .suscribe__button{
        margin: 0;
    }
    .lugar{
        flex-direction: column-reverse;
        padding-top: 1rem;
    }
}

@media screen and (max-width:452px){
    .container__text h1{
        font-size: .8rem;
        width: 18rem;
    }
    .container__text h2{
        margin-right: 4.2rem;
    }
    .container__btn{
        margin-right: 6.2rem;
    }
    .container img{
        width: 700px;
    }
}

@media screen and (max-width:402px){
    .suscribe__text p{
        font-size: 1rem;
    }
    .suscribe__text img{
        width: 2rem;
    }
    
    .suscribe__input{
        width: 150px;
    }
    
}

@media screen and (max-width:324px){
    .container__text h1{
        font-size: .6rem;
        width: 12rem;
    }
    .container__text h2{
        margin-right: 3rem;
        font-size: .7rem;
    }
    .container__btn{
        margin-right: 4.2rem;
        padding: .4rem .5rem;
        font-size: .7rem;
    }
    .container img{
        width: 700px;
    }
    
}

@media screen and (max-width:312px){
    .suscribe__text p{
        font-size: .7rem;
    }
    .suscribe__form{
        padding-left: 0;
    }
    .suscribe__input{
        width: 100px;
    }
    .suscribe__button{
        padding: .4rem;
        font-size: .8rem;
    }
}

@media screen and (max-width:292px){
    .productos__texto p{
        font-size: .7rem;
    }
    .lugar__icons--location,
    .lugar__icons--phone{
        width: 7rem;
    }
}



@media screen and (max-width:246px){
    .suscribe__text p{
        font-size: .6rem;
    }
}

@media screen and (max-width:228px){
    .productos h2{
        font-size: 2rem;
    }
}